.lato {
    font-family: Lato;
}

body {
    margin: 0;
    background-color: #000000;
}

#content {
    height: 100vh;
    background-color: #000000;
}

#side {
    height: 100vh;
    background-color: #999999;
}

#gif {
    width: 240px;
    height: 288px;
    margin-top: 50px;
}

#submit {
    height: 288px;
    margin-top: 50px;
}

#submit > span {
    font-size: 25pt;
    margin-top: 115px;
}

#submit:hover {
    width: 100%;
    color: #000000;
}
