body {
    margin: 0;
    background-color: #000000;
}

h1 {
    font-family: Lato;
}

#content {
    height: 100vh;
    background-color: #000000;
}

#side {
    height: 100vh;
    background-color: #999999;
}

#gif {
    width: 240px;
    height: 288px;
    margin-top: 50px;
}

#submit {
    width: 240px;
    margin-top: 25px;
}

#submit:hover {
    width: 100%;
    color: #000000;
}
